body
{
    padding-top:70px;
    padding-bottom:70px;
}

canvas-main
{
    font-size:12px;
    line-height:1.5;
}

.torrent-item
{
    width:650px;
}

.torrent-item-extra
{
    float:none;
    width:65px;
    margin-left:0;
}
.torrent-item-link
{
    float:none;
    width:5px;
    margin-left:0;
}
.site-footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

