<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html" charset="utf-8">
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="static/css/default.css" rel="stylesheet">
        <title>电视剧 电视剧种子 国外电视剧 美剧 英剧</title>
        <!-- left for seo -->
        <!--
        <meta name="keywords" content="">
        <meta name="description" content"">
        -->
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">TV Torrent</a>
            </div>
            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block navs %}{% end %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="navbar-link"><span class="glyphicon glyphicon-user"></span> Login/Rigister</a></li>
            </ul>
            <form action="/search" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="search" style="margin:0;border-radius:15px 0 0 15px;width:140px;color:#666" class="form-control" placeholder="keywords"/>
                    <button type="submit" style="border-radius:0 15px 15px 0" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
            </div> <!--collapse-->
            </div> <!--container-->
        </div> <!--navbar -->

        <div class="container">
            {% block main %} {% end %}
        </div> <!--maincontent-->
        <div class="navbar-fixed-bottom site-footer">
        <p>Copyright &copy; 2014 tianyaqu</p>
        </div>
        {% block js_foot %} {% end %}
    </body>
</html>
